# disturl=https://npmmirror.com/package/dist
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas/
# registry=https://registry.npmmirror.com
registry=https://tsd.xcmg.com/repository/group-npm/
# engine-strict = true