@import './variables.scss';
:export {
  headheight: $long-50;
  long24: $long-24;
  long12: $long-12;
  long8: $long-8;
  font18: $font-18;
  font24: $font-24;
  font28: $font-28;
  colorblck: $color-black;
  colorArrow: $color-arrow;
}
