@import './variables.scss';
:export {
  headheight: $size-normal-1;
  long24: $size-small-2;
  long12: $size-mini-4;
  long8: $size-mini-5;
  font18: $size-mini-1;
  font24: $size-small-2;
  font28: $size-small-1;
  colorblck: $color-text-black;
  colorArrow: $color-text-icon;
}
