body {
  overflow: hidden;
}
.content {
  padding: $size-small-2;
  overflow-y: auto;
  height: calc(100vh - 90px);
}
.plan-style {
  width: 70px;
  height: $size-small-2;
  border-radius: 4px;
  color: $color-white;
  text-align: center;
}
.to-status-style {
  border: 1px solid rgb(245, 193, 60);
  background: rgb(245, 193, 60);
}
.do-status-style {
  border: 1px solid #267dff;
  background: #267dff;
}
.finish-status-style {
  border: 1px solid rgb(47, 205, 110);
  background: rgb(47, 205, 110);
}
.save-tags-style {
  border: 1px solid #f5c13c;
  background: #f5c13c;
}
.order-tags-style {
  border: 1px solid #04b5d7;
  background: #04b5d7;
}
/*表格样式定制开始*/
::v-deep .ant-table-thead > tr > th {
  border-inline-end: 1px solid #f0f0f0;
}
::v-deep .ant-table-thead > tr > th:not(:last-child)::before {
  width: 0 !important;
}
::v-deep .table-striped td {
  background-color: rgba(38, 125, 255, 0.3);
}
::v-deep .ant-table-thead > tr > th {
  color: $color-white;
  background-color: $color-primary;
  &:first-child {
    border-radius: 0 !important;
  }
  &:last-child {
    border-radius: 0 !important;
  }
}
::v-deep .ant-table-tbody > tr > td {
  border-bottom: 1px solid $color-primary !important;
  border-left: 1px solid $color-primary;
}
::v-deep .ant-table-tbody > tr > td:last-child {
  border-right: 1px solid $color-primary !important;
}
/*表格样式定制结束*/
