body {
  overflow: hidden;
}
.content {
  margin: $size-small-2 0 $size-small-2 $size-small-2;
  background-color: $color-white;
  overflow-y: auto;
  height: calc(100vh - 140px);
  padding: $size-mini-1;
}
.plan-style {
  width: 70px;
  height: $size-small-2;
  border-radius: 4px;
  color: $color-white;
  text-align: center;
}
.to-status-style {
  border: 1px solid rgb(245, 193, 60);
  background: rgb(245, 193, 60);
}
.do-status-style {
  border: 1px solid #267dff;
  background: #267dff;
}
.finish-status-style {
  border: 1px solid rgb(47, 205, 110);
  background: rgb(47, 205, 110);
}
.save-tags-style {
  border: 1px solid #f5c13c;
  background: #f5c13c;
}
.order-tags-style {
  border: 1px solid #04b5d7;
  background: #04b5d7;
}
/*表格样式定制开始*/
::v-deep .ant-table-thead > tr > th {
  border-inline-end: 1px solid #f0f0f0;
}
::v-deep .ant-table-thead > tr > th:not(:last-child)::before {
  width: 0 !important;
}
::v-deep .ant-table-thead > tr > th {
  color: $color-white;
  background-color: $color-primary;
  &:first-child {
    border-radius: 0 !important;
  }
  &:last-child {
    border-radius: 0 !important;
  }
}
::v-deep .ant-table-tbody > tr > td {
  border-bottom: 1px solid $color-primary !important;
  border-left: 1px solid $color-primary;
}
::v-deep .ant-table-tbody > tr > td:last-child {
  border-right: 1px solid $color-primary !important;
}
/*表格样式定制结束*/
.calendar-week {
  @include bgColor($color-week);
}
.calendar-festival {
  @include bgColor($color-festival);
}
.calendar-shutdown {
  @include bgColor($color-shutdown);
}
/* 全局滚动条样式*/
::-webkit-scrollbar {
  width: 9px !important;
  /* 对垂直流动条有效 */
  height: 9px !important;
  /* 对水平流动条有效 */
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  // color: #fff;
  box-shadow: inset 0 0 5px rgb(222, 226, 231);
  background: rgb(222, 226, 231);
  background-color: rgb(147, 145, 145) !important;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px #eef0f5;
  border-radius: 0;
  background: #eef0f5;
}
/*
  popconfirm 开始
  样式定制-不显示title和icon部分 边距重设
*/
.popconfirmstyle > .ant-popover-content > .ant-popover-inner > .ant-popover-inner-content {
  .ant-popconfirm-message {
    display: none;
  }
  .ant-popconfirm-description {
    margin-left: 8px;
  }
}
/*
  popconfirm 结束
*/
/*
  表格特殊行颜色设置
*/
.key-add-color {
  color: $color-base;
}
