// 文字颜色
$color-text-base: #666666;
$color-text-black: #000000;
$color-text-main: #333333;
$color-text-icon: #999999;
// 辅助色
$color-success: #00a870;
$color-error: #f74b4d;
$color-warn: #f58916;
$color-info: #918c8c;
$color-primary: #0062b0;
$color-success-plain: #c4f1e2;
$color-error-plain: #ffb0b1;
$color-warn-plain: #fde7cf;
$color-info-plain: #ebeef5;
$color-primary-plain: #e8f5ff;
$color-week: #f0fcee;
$color-festival: #aed4f9;
$color-shutdown: #f5cfce;
// 边框颜色
$color-border: #dddddd;
// 常规颜色
$color-bg1: #f5f5f5;
$color-white: #ffffff;
$color-base: #0f80d6;

// 尺寸变量
// normal
$size-normal-1: 50px;
// small
$size-small-1: 28px;
$size-small-2: 24px;
// mini
$size-mini-1: 18px;
$size-mini-2: 16px;
$size-mini-3: 14px;
$size-mini-4: 12px;
$size-mini-5: 8px;
